body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.bor {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3 {
    text-align: center;
    margin-bottom: 7px;
}

.form {
    padding: 0 20px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="date"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #5b0e8a;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    
}
a {
    text-decoration: none;
    font-weight: 400;
}

.error-message{
    font-size: 15px;
    color: #e02121;
    margin-bottom: 7px;
}